includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - API.php
        - Archiver.php
        - Controller.php
        - FunnelInsights.php
        - Menu.php
        - Tasks.php
        - Columns
        - Commands
        - DAO
        - Model
        - Reports
        - Widgets
    excludePaths:
        - .matomo
        - vendor
        - tests
        - e2e
        - docker
        - node_modules
    bootstrapFiles:
        - phpstan-bootstrap.php
    ignoreErrors:
        # Matomo Report class uses init() as protected method
        - '#Call to an undefined method Piwik\\Plugin\\Report::init\(\)#'
    reportUnmatchedIgnoredErrors: false
    parallel:
        maximumNumberOfProcesses: 1
